

body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: black !important;
}
p{
    margin-bottom: 0px !important;
}
ul{
    list-style: none;
    
}

.botonOpcionPrincipal{
    width: 100%;
}
.cardPlato{
    width: 50%;
    height: 250px;
}
.imagenCardPlato{
    width: 93px;
}

.menuMovil{
    display: ruby;
}
.margenInferior{
    margin-bottom: 20%;
}
.textoXxs{
    font-size: 0.75em;
}
.textoNaranja{
    color: #FA6525;
}
.w-33{
    width: 33%;
}
.bgGray{
    background-color: #E5E5E5 !important;
    
}



.mt-100 {
    margin-top: 200px
}

.progress2 {
    width: 60px;
    height: 60px !important;
    float: left;
    line-height: 150px;
    background: none;
    margin: 10px;
    box-shadow: none;
    position: relative
}

.progress2:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0
}

.progress2>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1
}

.progress2 .progress2-left {
    left: 0
}

.progress2 .progress2-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0
}

.progress2 .progress2-left .progress2-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.progress2 .progress2-right {
    right: 0
}

.progress2 .progress2-right .progress2-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards
}

.progress2 .progress2-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #ffffff;
    font-size: 15px;
    color: black;
    line-height: 55px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%
}

.progress2.blue .progress2-bar {
    border-color: #049dff
}

.progress2.blue .progress2-left .progress2-bar {
    animation: loading-2 1.5s linear forwards 1.8s
}

.progress2.yellow .progress2-bar {
    border-color: #fdba04
}

.progress2.yellow .progress2-right .progress2-bar {
    animation: loading-3 1.8s linear forwards
}

.progress2.yellow .progress2-left .progress2-bar {
    animation: none
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg)
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
}



@media only screen and (min-width: 600px){

    .cardPlato{
        width: 25%;
        height: 250px;
    }



}
@media only screen and (min-width: 768px){

    .botonOpcionPrincipal{
        width: 50%;
    }
    .margenInferior{
        margin-bottom: 15%;
    }
    

}
@media only screen and (min-width: 900px){

    .botonOpcionPrincipal{
        width: 25%;
    }

    .cardPlato{
        width: 200px;
    }
    .menuMovil{
        display: none;
    }
    .margenInferior{
        margin-bottom: 0%;
    }


}
@media only screen and (min-width: 1300px){




}
