


body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
}
p{
    margin-bottom: 0px !important;
}
ul{
    list-style: none;
    
}



.botonAbrirSidebar{
    display: flex;
}

.sidebar-lg{
    display: none;
}
.sidebar-sm{
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    width: 50px;
    display: block;
}
.sidebar-sm img{
    width: 35px;
    border-radius: 50%;
    border: 1px solid gray;
}
.contenedor{
    width: calc(100% - 50px);
    padding: 5px;
}
.navSidebarSm a{
    font-size: 10px;
    color: white;
}
.navSidebarSm i{
    font-size: 15px;
}

.seleccion{
    background-color: white;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
    
}
.seleccion a{
    color: #18A0FB!important;
}
.borde{
    position: absolute;
    width: 5px;
    height: 52px;
    border-radius: 1px;
    left: -10px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-blue{
    background-color: #18A0FB;
}
.contenido{
    width: 100%;
}
.contenedorCards{
    display: block;
    padding: 8px;
}
.cardDashboard1 {
    width: 100%;
    margin-bottom: 8px;
}

.cardDashboard1 .card{
    overflow-y: hidden;
    height: 320px;

}
.cardDashboard2 {
    width: 100%;
}
.cardDashboard2 .card{
    overflow-y: hidden;
    height: 320px;

}
.contenedorMetricas{
    display: block;
}
.metrica{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.cardDashboard3{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.cardDashboard4{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.indicadorUno p{
    font-size: 15px;
}
.card-header{
    border-bottom: none !important;
}
.card-body li{
    list-style: none;
}
.texto-1{
    font-size: 40px;
}
.imagenUsuarioLg{
    display: none;
}

.imagenUsuario{
    width: 40px;
}
.imagenUsuario p{
    font-size: 18px;
}
.th1{
    border-radius: 10px 0px 0px 10px;
}
.th2{
    border-radius: 0px 10px 10px 0px;
}

@media only screen and (min-width: 600px){




}
@media only screen and (min-width: 768px){
 
    .contenedorMetricas{
        display: flex;
        flex-wrap: wrap;
    }
    .metrica{
     width: 47%;
    }



}
@media only screen and (min-width: 900px){

    .contenedor{
        width: calc(100% - 230px);
    }
    .sidebar-sm{
        display: none;
    }

    .sidebar-lg{
        height: 100vh;
        border-radius: 0px 10px 10px 0px;
        width: 230px;
       display: block;
    }
    
    .sidebar-lg img{
        width: 120px;
        border-radius: 50%;
        border: 1px solid gray;
    }
    .sidebar-lg ul{
        padding-left: 0px;
        padding: 5px;
    }
    .sidebar-lg li{
        padding: 10px;
    }
    .sidebar-lg a{
        text-decoration: none;
        color:  white;
        font-size: 18px;
    }
    .seleccion a{
        color: #18A0FB;
        
    }
    .imagenUsuarioLg{
        display: flex;
    }
    .imagenUsuarioLg{
        width: 40px;
    }
    .cardDashboard1 {
        margin: 10px;
        width: 70%;
    }
    .cardDashboard2 {
        margin: 10px;
        width: 30%;
    }
    .contenedorCards{
        display: flex;
    }
    .contenedorMetricas{
        display: flex;
    }
    .metrica{
        width: 31%;
    }
    .cardDashboard3{
        width: 60%;
        padding: 10px;
    }
    .cardDashboard4{
        width: 40%;
        padding: 10px;
    }



}
@media only screen and (min-width: 1300px){




}
